<div class= "row">
    <div class= "col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button class= "btn btn-success" (click)= "addUpdateExpense('add')"  data-toggle="modal" data-target="#myModal">Add Entries</button>
        <button class= "btn btn-primary" (click)= "addUpdateExpense('edit')" [disabled]= "!selectedEntries.length || selectedEntries.length>1">Edit Entry</button>
        <button class= "btn btn-danger" (click)= "deleteExpense('delete')" [disabled]= "!selectedEntries.length">Delete Entry(ies)</button>
    </div>
    <div class= "col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="dropdown float-right">
            <button class="btn btn-default dropdown-btn" type="button" (click)= "dropDownOpen=!dropDownOpen">
                {{(sortParams.sortBy | uppercase) || 'Sort By...'}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" [ngClass]= "{'display-block' : dropDownOpen}">
                <li (click)= "sortEntries(sortItem)" *ngFor= "let sortItem of sortFields"><a class= "text-uppercase" href= "#">{{sortItem}}</a></li>
            </ul>
            <button class="btn btn-default toggle-sort-order" type="button" [disabled]= "sortParams.sortBy===''" (click)= "toggleSortOrder()">
                <i class="material-icons" [ngClass]= "{'desc' : sortParams.sortOrder === 'desc'}">{{sortParams.sortOrder === 'desc' ? 'swap_vert' : 'swap_vertical_circle'}}</i>
            </button>
        </div>
    </div>
</div>
<div class= "row">
    <div class="table-responsive expense-table">
        <table class= "table">
            <thead>
                <tr class= "text-uppercase bold">
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class= "cursor-pointer expense-row" *ngFor= "let expense of expenseList"  (click)= "selectForUpdation(expense)" [ngClass]= "{'nextMonth' : sortParams.sortBy==='date'}">
                    <td>{{expense.category}}</td>
                    <td>{{expense.description}}</td>
                    <td>{{expense.date}}</td>
                    <td>{{expense.amount | currency:'INR':true}}</td>
                    <td><i class="material-icons">{{selectionStatus(expense).found ? 'adjust' : 'blur_circular'}}</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>