.expense-table {
    position: fixed;
    width: 80vw;
    margin: 0 auto;
    margin-top: 65px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

.dropdown-btn {
    width: 100px;
    height: 38px;
    border-radius: 0px;
}

.dropdown-menu {
    min-width: 100px;
}

.toggle-sort-order {
    border-radius: 0px;
    height: 38px;
    margin-left: -4px;
}

.toggle-sort-order i {
    transition: transform 0.3s ease-in;
}

.desc {
    transform: rotate(180deg);
}

.header {
    line-height: 35px;
    position: fixed;
    width: 80vw;
}

.content {
    margin-top: 35px;
    overflow: auto;
    height: 50vh;
}

.expense-row {
    line-height: 35px;
    border-bottom: 1px dashed #a5a5a5;
}

.expense-row:hover {
    color: #ffffff;
    background-color: rgba(30, 30, 30, 0.4);
}

.expense-row.selected {
    color: #000000;
    background-color: #d2d2d2;
}

.expense-row.selected:hover {
    color: #337ab7;
}

.total-container {
    float: right;
    height: 30px;
    padding: 0 5px;
    margin-top: 2.5px;
    border-radius: 10px;
    background-color: rgba(51, 122, 183, 0.4);
}

.last-section.last-row {
    border-bottom: 0;
}

.action-button-cont {
    left: -100%;
    position: relative;
    display: inline-block;
    transition: left 0.3s ease-in;
}

.action-button-cont.expand {
    left: 0;
}