.expense-table {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

.dropdown-btn {
    width: 160px;
    border-radius: 0px;
}

.toggle-sort-order {
    border-radius: 0px;
    height: 34px;
    margin-left: -4px;
}

.desc {
    transition: transform 0.3s ease-in; 
    transform: rotate(180deg);
}

.expense-row:hover {
    background-color: #d2d2d2; 
}