.expense-table {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

.dropdown-btn {
    width: 100px;
    border-radius: 0px;
}

.dropdown-menu {
    min-width: 100px;
}

.toggle-sort-order {
    border-radius: 0px;
    height: 34px;
    margin-left: -4px;
}

.desc {
    transition: transform 0.3s ease-in; 
    transform: rotate(180deg);
}

.header {
    line-height: 35px;
    /* position: fixed; */
}

.content {
    /* position: absolute; */
    /* margin-top: 35px; */
}

.expense-row {
    line-height: 35px;
    border-bottom: 1px dashed #a5a5a5;
}

.expense-row:hover {
    color: #ffffff;
    background-color: rgba(30, 30, 30, 0.4);
}

.expense-row.selected {
    color: #000000;
    background-color: #d2d2d2;
}

.expense-row.selected:hover {
    color: #337ab7;
}

.total-container {
    float: right;
    margin: 20px;
}

.last-section.last-row {
    border-bottom: 0;
}