<div class=" text-center">
    <img [src]= "titleImage" />
    <div class= "title-wrapper bold">
        <h2>SIMSAR Manager</h2>
        <h4>@Dwivedi's</h4>
    </div>
</div>
<div class="panel panel-default">
    <div class= "panel-heading">
        <ul class="nav navbar-nav bold">
            <li><a [routerLink]= "['/home']">Home</a></li>
            <li><a [routerLink]= "['/expenses']">Manage Expenses</a></li>
            <li><a [routerLink]= "['/shopping']">Shopping List</a></li>
            <li><a [routerLink]= "['/notification']">Register for notification</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <router-outlet></router-outlet>
    </div>
</div>