.logo-img {
    height: 100px;
}

.title-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.panel-body.main {
    height: calc(100vh - 200px);
    background-color: #f8f8f8;
    overflow-y: auto;
    padding-top: 0px;
}

.panel-heading.main {
    height: 68px;
}

.navbar-nav {
    float: none;
}

.panel-body ng-component {
    opacity: 1;
}