.title-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.panel-body {
    height: calc(100vh - 200px);
    background-color: #f8f8f8;
}

.navbar-nav {
    float: none;
}

.panel-body ng-component {
    opacity: 1;
}