.list-container {
    margin-top: 20px;
    padding: 10px;
}

.shopping-card {
    height: 240px;
    width: 200px;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
}

.shopping-card.first {
    margin-left: 240px;
}

.shopping-card.add {
    position: absolute;
}

.shopping-card.add:hover {
    background-color: #d2d2d2;
}

.shopping-card:hover .add-list-cont span,
.shopping-card:hover .add-list-cont .note_add {
    color: #1e1e1e !important;
}

.shopping-card:hover .add-list-cont .shopping-circle,
.shopping-card:hover .add-list-cont .shopping-line {
    background-color: #1e1e1e;
    opacity: 0.6;
}

.add-list-cont {
    text-transform: uppercase;
    position: relative;
    top: 30%;
    height: 24px;
    margin-top: -12px;
}

.add-list-text {
    color: #a5a5a5;
}

.add-list-cont i {
    color: #a5a5a5;
}

.material-icons.note_add {
    font-size: 35px;
    vertical-align: bottom;
    font-weight: 600;
}

.shopping-circle {
    height: 10px;
    width: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: inline-block;
}

.shopping-line {
    background-color: #f0f0f0;
    width: 80px;
    height: 8px;
    border-radius: 10px;
    display: inline-block;
}

.first-line {
    margin-top: 10px;
}

.shopping-card input {
    width: 100%;
    text-align: center;
    border: none;
}

.shopping-card input:hover,
.shopping-card input:focus {
    background-color: #f0f0f0;
}

.shopping-card .title-input {
    font-weight: bold;
    width: 74%;
    text-transform: capitalize;
}

.shopping-card .list-input {
    text-transform: capitalize;
    width: 90%;
    margin: 10px 5% 0 5%;
}

/*.shopping-card .list-input.first {
    margin-top: 20px;
}*/

.delete {
    font-size: 19px;
}

.list-header {
    color: #757575;
    position: absolute;
    margin-top: 0px;
}

.item-list {
    overflow: hidden;
    height: 80%;
    margin-top: 20px;
}

.item-list:hover {
    overflow: auto;
}

.shopping-card .list-footer {
    color: #757575;
}