/* You can add global styles to this file, and also import other style files */
body {
    font-family: AdihausBold;
    background-color: #ddd;
}

@font-face {
    font-family: AdihausBold;
    src: url('./font/adihaus-bold.otf')
}