/* You can add global styles to this file, and also import other style files */
body {
    font-family: adhapsrg-webfont;
    background-color: #ddd;
}

.bold {
    font-family: AdihausBold;
}

@font-face {
    font-family: AdihausBold;
    src: url('./font/adihaus-bold.otf')
}

@font-face {
    font-family: 'adhapsrg-webfont';
    src: url('./font/adhapsrg-webfont.ttf');
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./font/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

input {
    max-width: 100%;
}

.vertical-middle {
    vertical-align: middle;
}

.font-size-18 {
    font-size: 18px;
}

.push-down-15 {
    margin-bottom: 15px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}
/*Custom Modal Classes Start*/
.modal-backdrop.show {
    opacity: 0.5;
}

.fade.show.modal {
    opacity: 1;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.modal-body {
    padding: 20px;
}
/*Custom Modal Classes End*/